html {
    background: #;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #000000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #FDFEFE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.0;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color:#FDFEFE;
    text-align: center;
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 1.0;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}
center {
   color: #FDFEFE;
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 1.3; 
}

head {
   
}

button {
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 2; 
    background-color: #B1EFF5;
    border-radius: 8px;
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

th {
    border: 1px solid white;
     font-family: "Courier New", Courier, monospace, sans-serif;
    border-collapse: collapse;
    font-size: 32px;
}

td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 20px;
}
tr{
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 2; 
    font-size: 20px;
}
footer{
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 1.3; 
    text-align: center;
}
legend{
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 1.3; 
}
label{
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 1.3; 
}

form{
    margin: 0;
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-weight: 600;
    line-height: 1.3; 
}